@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #4b4b4b;
  --border-color: #a8a8a8;
  --title-color: #ffffff;
}
/* commmon class */
.converter__title {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin: 30px 0px;
  font-weight: bold;
  color: #000000;
}
.container {
  max-width: 640px;
  margin: 0 auto;
}
div.reset__btn {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}

div.reset__btn > button {
  border: none;
  background: var(--main-bg-color);
  color: var(--title-color);
  padding: 8px 33px;
  border-radius: 5px;
  cursor: pointer;
}
div.reset__btn > button:hover {
  background: rgb(54, 54, 54);
}
nav.nav__container > h1.nav__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: bolder;
}
html,
body {
  background-color: #efefef;
}
div.main__app__container {
  background-color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
}

/* navbar */
nav.nav__container {
  width: 100%;
  height: 70px;
  background: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Number System Converter section  */
div.number__system_section {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
div.number__system_section > div.input__field {
  margin: 0px 20px;
}
div.number__system_section > div.input__field:first-child {
  padding-top: 25px;
}
div.number__system_section > div.input__field > label {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 0px;
}
div.number__system_section > div.input__field > input {
  display: block;
  width: 100%;
  height: 32px;
  font-size: 1.2rem;
  padding: 0px 5px;
}
div.number__system_section > div.input__field > input::placeholder {
  color: #a8a8a8;
}

/* Text Converter section  */
div.number__system_section > div.input__field > textarea {
  font-size: 1.2rem;
  width: 100%;
  padding: 5px;
}
@media only screen and (max-width: 650px) {
  .converter__title {
    padding: 0px 15px;
  }
}
/* footer__container */

.footer__container{
  margin-top: 30px;
    background: var(--main-bg-color);
      color: #9ca7b1 ;
      padding: 20px 5px;
}
.footer__container >p{
  text-align: center;
}
.footer__container>p>a{
  color:aliceblue;
  text-decoration: none;
} 