<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <meta
      property="title"
      content="Number system conveter | Online number system conveter | binary convetion | binary converter | decimal convetion | decimal converter | octal converter | octal convetion | hexadecimal converter | Imran Hossen | Text converter "
    />
    <meta
      property="keywords"
      content="Number system conveter | Online number system conveter | binary convetion | binary converter | decimal convetion | decimal converter | octal converter | octal convetion | hexadecimal converter | Imran Hossen | Text converter "
    />
    <meta
      name="description"
      content="Online number system converter and text to binary conveter"
    />
    <meta name="author" content="Imran Hossen Bappy" />
    <title>Number System Converter</title>
  </head>
  <body>
    <div class="main__app__container">
      <nav class="nav__container">
        <h1 class="nav__title">Number System Converter</h1>
      </nav>
      <div class="container">
        <h2 class="converter__title">Number Convertion</h2>
      </div>
      <div class="container">
        <div class="number__system_section">
          <div class="input__field">
            <label for="decimal">Decimal</label>
            <input value="" id="decimal" name="decimal" type="text" />
          </div>
          <div class="input__field">
            <label for="binary">Binary</label>
            <input value="" id="binary" name="binary" type="text" />
          </div>
          <div class="input__field">
            <label for="octal">Octal</label>
            <input value="" id="octal" name="octal" type="text" />
          </div>
          <div class="input__field">
            <label for="hexadecimal">Hexadecimal</label>
            <input value="" id="hexadecimal" name="hexadecimal" type="text" />
          </div>
          <div class="reset__btn">
            <button id="reset_num">RESET</button>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="converter__title">Text Convertion</h2>
      </div>
      <div class="container">
        <div class="number__system_section">
          <div class="input__field">
            <label for="text">Enter Your Text Below</label>
            <textarea id="text_box" name="text" rows="8"></textarea>
          </div>
          <div class="input__field">
            <label for="text">Enter Your Binary Below</label>
            <textarea id="binary_box" name="text" rows="8"></textarea>
          </div>
          <div class="reset__btn">
            <button id="reset_box">RESET</button>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer__container">
          <p>
            Copyright. © 2022
            <a href="https://imranbappy.me/">Imran Hossen </a> All Rights
            Reserved
          </p>
        </div>
      </footer>
    </div>
    <script src="./scripts/Coverter.js"></script>
    <script>
      let decimal = document.getElementById("decimal");
      let binary = document.getElementById("binary");
      let octal = document.getElementById("octal");
      let hexadecimal = document.getElementById("hexadecimal");
      let reset_num = document.getElementById("reset_num");
      let reset_box = document.getElementById("reset_box");
      let text_box = document.getElementById("text_box");
      let binary_box = document.getElementById("binary_box");
      const allElements = [
        decimal,
        binary,
        octal,
        hexadecimal,
        text_box,
        binary_box,
      ];

      allElements.forEach((element) => {
        element.addEventListener("dblclick", (e) => {
          element.select();
          element.setSelectionRange(0, 99999);
          navigator.clipboard.writeText(e.target.value);
          setTimeout(() => {
            alert("Copied!");
          }, 100);
        });
      });

      let c = new Converter();
      decimal.addEventListener("keyup", (e) => {
        c.decimalToAny(Number(e.target.value));
        binary.value = c.binary;
        octal.value = c.octal;
        hexadecimal.value = c.hexadecimal;
      });
      binary.addEventListener("keyup", (e) => {
        c.decimalToAny(c.toDecimal(e.target.value, 2));
        decimal.value = c.decimal;
        octal.value = c.octal;
      });
      octal.addEventListener("keyup", (e) => {
        c.decimalToAny(c.toDecimal(e.target.value, 8));
        decimal.value = c.decimal;
        binary.value = c.binary;
      });
      hexadecimal.addEventListener("keyup", (e) => {
        c.decimalToAny(c.toDecimal(e.target.value, 16));
        decimal.value = c.decimal;
        binary.value = c.binary;
        octal.value = c.octal;
      });
      reset_num.addEventListener("click", (e) => {
        binary.value = "";
        octal.value = "";
        decimal.value = "";
        hexadecimal.value = "";
      });
      text_box.addEventListener("keyup", (e) => {
        let x = new TextCNV();
        x.toBinary(e.target.value);
        binary_box.value = x.binary.trim();
      });
      binary_box.addEventListener("keyup", (e) => {
        let X = new TextCNV();
        X.toText(e.target.value);
        text_box.value = X.text.trim();
      });

      reset_box.addEventListener("click", (e) => {
        binary_box.value = "";
        text_box.value = "";
      });
    </script>
  </body>
</html>
