<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Number System Converter</title>
  </head>
  <body>
    <div class="main__app__container">
      <nav class="nav__container">
        <h1 class="nav__title">Number System Converter</h1>
      </nav>
      <div class="container">
        <h2 class="converter__title">Number System Converter</h2>
      </div>
      <div class="container">
        <div class="number__system_section">
          <div class="input__field">
            <label for="decimal">Decimal</label>
            <input name="decimal" type="text" />
          </div>
          <div class="input__field">
            <label for="binary">Binary</label>
            <input name="binary" type="text" />
          </div>
          <div class="input__field">
            <label for="octal">Octal</label>
            <input name="octal" type="text" />
          </div>
          <div class="input__field">
            <label for="hexadecimal">Hexadecimal</label>
            <input name="hexadecimal" type="text" />
          </div>
          <div class="reset__btn">
            <button>RESET</button>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="converter__title">Text Convertion</h2>
      </div>
      <div class="container">
        <div class="number__system_section">
          <div class="input__field">
            <label for="text">Enter Your Text Below</label>
            <textarea name="text" rows="8"></textarea>
          </div>
          <div class="input__field">
            <label for="text">Enter Your Binary Below</label>
            <textarea name="text" rows="8"></textarea>
          </div>
          <div class="reset__btn">
            <button>RESET</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
