<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Number System Converter</title>
  </head>
  <body>
    <div class="main__app__container">
      <nav class="nav__container">
        <h1 class="nav__title">Number System Converter</h1>
      </nav>
      <div class="container">
        <h2 class="converter__title">Number System Converter</h2>
      </div>
      <div class="container">
        <div class="number__system_section">
          <div class="input__field">
            <label for="decimal">Decimal</label>
            <input value="0" id="decimal" name="decimal" type="text" />
          </div>
          <div class="input__field">
            <label for="binary">Binary</label>
            <input value="0" id="binary" name="binary" type="text" />
          </div>
          <div class="input__field">
            <label for="octal">Octal</label>
            <input value="0" id="octal" name="octal" type="text" />
          </div>
          <div class="input__field">
            <label for="hexadecimal">Hexadecimal</label>
            <input value="0" id="hexadecimal" name="hexadecimal" type="text" />
          </div>
          <div class="reset__btn">
            <button id="reset">RESET</button>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="converter__title">Text Convertion</h2>
      </div>
      <div class="container">
        <div class="number__system_section">
          <div class="input__field">
            <label for="text">Enter Your Text Below</label>
            <textarea name="text" rows="8"></textarea>
          </div>
          <div class="input__field">
            <label for="text">Enter Your Binary Below</label>
            <textarea name="text" rows="8"></textarea>
          </div>
          <div class="reset__btn">
            <button>RESET</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./scripts/Coverter.js"></script>
    <script>
      let decimal = document.getElementById("decimal");
      let binary = document.getElementById("binary");
      let octal = document.getElementById("octal");
      let hexadecimal = document.getElementById("hexadecimal");
      let reset = document.getElementById("reset");
      let c = new Converter();
      c.decimalToAny(c.toDecimal(1010, 2));
      decimal.addEventListener("keyup", (e) => {
        c.decimalToAny(Number(e.target.value));
        binary.value = c.binary;
        octal.value = c.octal;
      });
      binary.addEventListener("keyup", (e) => {
        c.decimalToAny(c.toDecimal(e.target.value, 2));
        decimal.value = c.decimal;
        octal.value = c.octal;
      });
      octal.addEventListener("keyup", (e) => {
        c.decimalToAny(c.toDecimal(e.target.value, 8));
        decimal.value = c.decimal;
        binary.value = c.binary;
      });
      reset.addEventListener("click", (e) => {
        binary.value = "0";
        octal.value = "0";
        decimal.value = "0";
        hexadecimal.value = "0";
      });
    </script>
  </body>
</html>
